th, td {
  padding: 0;
  text-align: left;
  vertical-align: top;
}

th:hover {
	background-color: #9999ff;
}

body.drkmd th:hover {
	background-color: #990000
}

.teamPage {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.memberCard {
	border-style: solid solid solid solid;
}

.membersRow{
	background-color: #cccccc;
}

body.drkmd .membersRow {
	background-color: #333333;
}

.teamPageTitle{
	text-align: center;
	font-size: 3.12em;
	margin-bottom: 100px;
}
