th, td {
  padding: 0;
  text-align: left;
}

th:hover {
	background-color: #9999ff;
}

.teamMembers {
	height: 100px;
	width: auto;
	justify-content: center;
}

.teamMembers .memberCard {
	background-color: #cccccc;
	border-style: solid solid hidden hidden;
}

.teamMembers .memberCard.drkmd {
	background-color: #333333;
}

.membersRow{
	display: flex;
}

.teamPageTitle{
	text-align: center;
	font-size: 3.12em;
	margin-bottom: 100px;
}
