body {
	margin: 0; /*outer border*/
	color: #020202; /*border color*/;
	
	background-color: #0077ee; /*background color*/
	background-image: url(../images/backgrounds/background.png); /*background image*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	transition: background-color 0.3s;
	transition: background-image 0.3s;
}

.nvbartitle {
	text-transform: uppercase;
	text-align: center;
	text-shadow: 1px 1px;
	color: #009fcf;
	background-image: linear-gradient(#7f7f7f, #3b3b3b);
}

body.drkmd .nvbartitle {}

.nvbartitle img {
	max-width: 85%; /*max image width*/
	height: auto; /*image auto resizing*/
}

.nvbartitle > a:hover {
	opacity: 0.90;
}

.nvbartitle > img:hover {
	opacity: 0.90;
}

.nvbar {
	border-style: solid hidden;
	border-color: #222277 #000000 #222255;
	background-color: #333388; /*navbar color*/
}

.nvbar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 1.2em; /*navbar font size*/
}

.nvbar > ul > span > li {
	float: left; /*Side the left navbar buttons are located*/
}

.nvbar > ul > li {
	float: right; /*Side the right navbar buttons are located*/
}

.nvbar > ul li > img {
	height: calc(1.0em + 16px);
	display: block;
	border-color: #222244 #222244 #111133 #111133;
	border-style: solid;
	border-width: 2px;
}

.nvbar > ul > li > a {
	display: block; /*makes padding visible*/
	color: #cfcfcf; /*right navbar text color*/
	text-align: center;
	padding: 8px; /*right navbar padding*/
	/*order= top right bottom left*/
	background-color: #333388; /* right navbar button color*/
	text-decoration: none;
}

.nvbar > ul > span > li > a {
	display: block; /*makes padding visible*/
	color: #cfcfcf; /*left navbar text color*/
	text-align: center;
	padding: 8px; /*left navbar padding*/
	/*largest navbar padding = navbar size*/
	background-color: #333388; /*left navbar button color*/
	text-decoration: none;
}

.nvbar > ul li > a:hover {
	background-color: #222288; /*selected navbar button color*/
}

.nvbar > ul > li.selected {
	display: block;
	color: #cfcfcf;
	text-align: center;
	padding: 8px;
	background-color: #111177;
}

.template {
	display: none;
}

.pageTop {
	position: sticky;
	top: 0px;
	left: 50%;
}

.ovrflw-Auto {
	overflow: auto;
}

div#pageBody {
	height: 100vh;
}

body.drkmd {
	background-color: #222222; /*darkmode background color*/
	background-image: url(../images/backgrounds/drkmd_background.png); /*darkmode background image*/
	color: #dddddd;
}

#drkmdbtnMenu.menu {
	display: none;
}

#drkmdbtnTitle.title {
	width: 7vh;
	height: 7vh;
	position: fixed;
	right: 3px;
	top: 3px;
	border: hidden;
	display: block;
}

.nvbar > div {
	display: none;
}

.nvbarimg {
	display: none;
}

.homepageText {
	background: #222222;
	background-image: url(../images/backgrounds/drkmd_background.png);
	height: 100vh;
	margin: 3vh;
	padding: 0.4vh;
	border-style: solid;
	border-color: #222222;
	border-width: 0.7vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #dddddd;
	transition: color 0.2s;
	transition: background-color 0.3s;
	transition: background-image 0.3s;
}

body.drkmd .homepageText {
	background-color: #0077ee;
	background-image: url(../images/backgrounds/background.png);
	color: #000000;
	border-color: #000000;
	transition: border-color 0.3s;
	transition: background-color 0.3s;
	transition: background-image 0.3s;
}

@media only screen and (max-width: 700px) {
	
	.nvbar {
		position: absolute;
		display: inline-block;
		overflow: hidden;
		border-style: solid solid solid hidden;
		border-color: #222277 #333355 #222255 #000000;
		
	}
	
	.nvbar > div img {
		height: calc(1.0em + 16px);
		display: block;
		border-color: #222244 #222244 #111133 #111133;
		border-style: solid;
		border-width: 2px;
		text-align: top;
		text-align: left;
	}
	
	.nvbarimg {
		height: calc(1.2em + 16px);
		display: block;
		border-color: #222244 #222244 #111133 #111133;
		border-style: solid;
		border-width: 2px;
		text-align: top;
		text-align: left;
	}
	
	.nvbar:hover > div img {
		display: none;
	}
	
	.nvbar > div {
		display: block;
	}
	
	.nvbar ul li img.remdrpdwnimg {
		display: none;
	}
	
	.nvbar > ul > li > img {
		height: calc(1.0em + 16px);
		display: block;
		border-color: #222244 #222244 #111133 #111133;
		border-style: solid;
		border-width: 2px;
	}
	
	.nvbar:hover > div #drkmdbtnMenu.menu {
		display: block;
	}
	
	#drkmdbtnTitle.title {
		display: none;
	}
	
	.nvbar > ul {
		display: none;
		position: sticky;
		text-align: left;
		width: 19vh;
		padding: 12px 16px;
		z-index: 1;
	}
	
	.nvbar:hover > ul {
		display: block;
	}
	
}
